@use "../../base/typography";

body{
    font-family: Poppins;
}

main{
    background: rgb(196,231,212);
    background: linear-gradient(20deg, rgba(196,231,212,1) 5%, rgba(250,218,221,1) 95%);
    padding-top: 200px;
}
