@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito/static/Nunito-Regular.ttf);
}

@font-face {
    font-family: Nunito-Bold;
    src: url(../fonts/Nunito/static/Nunito-Bold.ttf);
}

@font-face {
    font-family: Nunito-Light;
    src: url(../fonts/Nunito/static/Nunito-Light.ttf);
}

@font-face {
    font-family: Tangerine;
    src: url(../fonts/Tangerine/Tangerine-Regular.ttf);
}

@font-face {
    font-family: Tangerine-Bold;
    src: url(../fonts/Tangerine/Tangerine-Bold.ttf);
}