@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf)
}
@font-face {
    font-family: "poppins-Bold";
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "poppins-Light";
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: Tangerine;
    src: url(../fonts/Tangerine/Tangerine-Regular.ttf);
}

