@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}


header {
    background-color: #433954;
    /* position: fixed; */
    width: 100%;
  }
  header nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px;
  }
  header nav img {
    height: 100px;
  }
  header nav ul {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
  }
  header nav ul li {
    padding: 0px 32px;
  }
  header nav ul li a {
    color: #fadadd;
    font-size: 24px;
    transition: 0.2s;
    cursor: pointer;
  }
  header nav ul li a:hover {
    color: #c4e7d4;
  }